<header>
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* 
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> *@
        <a class="btn btn-primary" href="/TestAPI">Test API</a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
            <div class="navbar-nav p-4 p-lg-0">

                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>

                <a asp-controller="Course" asp-area="" asp-action="Index" class="nav-item nav-link">Courses</a>

                <a asp-area="" asp-controller="AboutUs" asp-action="Index" class="nav-item nav-link">About</a>

                <a asp-area="" asp-controller="FAQs" asp-action="Index" class="nav-item nav-link">FAQ</a>

            </div>

            <div class="nav-item dropdown">
                <div class="ms-5 ps-5 me-4">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@(Context.Session.GetString("Avatar") ?? Url.Content("/images/default-avatar.jpg"))" alt="mdo" width="50" height="50" class="rounded-circle">
                    </a>
                </div>
                <ul class="dropdown-menu dropdown-menu-end text-small fade-down" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a></li>
                    <li><a class="dropdown-item" asp-area="Mentee" asp-controller="CourseProgress" asp-action="index">My learning</a></li>
                    <li>
                        @await Component.InvokeAsync("ChatNotification")
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>