@using OnlineLearning.Models.Domains.UserModels
@model List<User>

<h2>List users</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>
                <a href="@Url.Action("Details", "User", new { id = user.UserId })">Detail</a>
            </td>
        </tr>
    }
</table>
