
<div class="text-center container-fluid py-5 my-5">
    <h1 class="h1 text-danger"><code>Access Denied</code></h1>
    <h3 class="h2">You dont have permission to view this site.</h3>
    <h3 class="h2 text-danger">🚫🚫🚫🚫</h3>
    <h6 class="h3">error code:403</h6>
    <div class="py-5">
        <a class="" href="/">Back to Homepage</a>
    </div>
</div>